@import "tailwindcss";

.instrument-serif-regular-italic {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: italic;
}

body {
    font-family: "Instrument Serif", serif;
}